@using OrnekWebSite.Entity
@model IEnumerable<Product>
<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
              @Html.Action("CategoryList","Category")
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary","Cart")
            </ul>
        </div>

        
        <br>
        @Html.Action("FeaturedProductList","Home")

    </div>
    <div class="span9">
        <div class="well np">
            @Html.Action("Slider","Home")
        </div>
        <!--
        New Products
        -->
       
            <h3>Ürünler</h3>
            <hr class="soften" />
            
           
                <ul class="thumbnails">
                    @foreach (var item in Model)
                    {
                        <li class="span3">
                            <div class="thumbnail">

                                <a href="product_details.html"><img src="~/Content/image/@item.Image" style="max-width:207px; max-height:206px; min-width:207px; min-height:267px;" alt=""></a>
                                <div class="caption cntr">
                                    <p>@item.Name</p>
                                    <p><strong> @item.Price ₺</strong></p>
                                    <h4><a class="shopBtn" href="/Home/ProductDetails/@item.Id" title="add to cart"> Görüntüle </a></h4>
                                    
                                    <br class="clr">
                                </div>
                            </div>
                        </li>
                    }


                </ul>
           
        <!--
        Featured Products
        -->
        

       
    </div>
</div>
